* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item_red {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 100px;
}

.item_blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    left: 200px;
    top: 200px;
}
.item_green {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    left: 150px;
    top: 150px;
}
.item_green:hover {
    transform: scale(1.5) rotate(-45deg);
}
